{% extends "bathurst/base.html" %}

 {% block title %}  <title>Historique</title>{% endblock%}

 {%block content %}
          
 <div class="col-12 col-md-12 bgd">
    <div class = "row gy-4 mt-4">
            
                <div class = "col-12">
                
                    <h1 class="cen">Historique des lectures</h1>
                    
                </div>
            
    </div>

        <br><br>

        
    
    <div class = "row gy-12 mt-12 ">
      <table>
        <tr>
          <th> <i class = "bi bi-thermometer-half temp-icon"></i>
            <h2><span class = "weather">Température</span> <span class = "tempet"><sup>°C</sup>  </span> </h2>
       </th>
          <th><i class = "bi bi-droplet-fill humid-icon" ></i>
            <h2><span class = "weather">Humidité</span> <span class = "humid"><sup>%</sup> </span></h2>
       </th>
          <th>
            <h2><span class = "weather">Heure d'Envoi</span></h2>
       </th>
          <th> 
            <h2><span class  =  "weather">Date d'Envoi</span></h2>
    </th>
        </tr>
        {% for histo in histos %}
        <tr>
          <td>{{histo.Temperature}}</td>
          <td>{{histo.Humidite}}</td>
          <td>{{histo.HeurEnvoi}}</td>
          <td>{{histo.DatEnvoi}}</td>
          
        </tr>
        
        {% endfor %}
        
        
      </table>

    </div>
 </div> 
</div>
  
{% endblock %}